<mat-toolbar color="primary">
    <button mat-button routerLink='/login'>App USFQ</button>

<button mat-button [matMenuTriggerFor]="estudianteMenu" *ngIf="auth.isAutenticado">Estudiantes</button>
    <mat-menu #estudianteMenu="matMenu"> 
    <button mat-menu-item routerLink='/estudiantes'>Estudiante</button>
    <button mat-menu-item routerLink='/crear-estudiantes'>Nuevo Estudiante</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="cursoMenu" *ngIf="auth.isAutenticado">Cursos</button>
    <mat-menu #cursoMenu="matMenu"> 
    <button mat-menu-item routerLink='/cursos'>Curso</button>
    <button mat-menu-item routerLink='/crear-cursos'>Nuevo Curso</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="asignacionMenu" *ngIf="auth.isAutenticado">Asignaciones</button>
    <mat-menu #asignacionMenu="matMenu"> 
    <button mat-menu-item routerLink='/asignacion'>Asignacion</button>
    <button mat-menu-item routerLink='/crear-asignaciones'>Nueva Asignacion</button>
</mat-menu>




<span style="flex: 1 1 auto"></span>

<button mat-button *ngIf="auth.isAutenticado">Bienvenido {{auth.getUserName}}</button>
<button mat-button *ngIf="auth.isAutenticado" (click)="auth.logout()">Logout</button>
<button mat-button *ngIf="!auth.isAutenticado" routerLink='/register'>Register</button>
<button mat-button *ngIf="!auth.isAutenticado" routerLink='/login'>Login</button>
 
</mat-toolbar>
