<h2 mat-dialog-title>Actualizar Cuenta</h2>
<mat-dialog-content [formGroup]="form">
    <mat-form-field class="crear-cuenta-field">
        <input matInput placeholder="Cliente" formControlName="clienteId">
    </mat-form-field>
    <br/>
    <mat-form-field class="crear-cuenta-field">
        <input matInput placeholder="Numero Cuenta" formControlName="numero">
    </mat-form-field>
    <br/>
    <mat-form-field class="crear-cuenta-field">
        <input matInput placeholder="Saldo Cuenta" formControlName="saldo">
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
<button class="mat-raised-button" (click)="cerrar()">Cerrar</button>
<button class="mat-raised-button mat-primary" (click)="guardar()">Grabar</button>
</mat-dialog-actions>
