<mat-card >
    <mat-card-header>
        <mat-card-title>Esta seguro de Eliminar?</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <mat-list-item>
                <b>Nombres: {{movimiento.cuentaid}}</b>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <b>DIreccion: {{movimiento.tipo}}</b>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <b>Telefono: {{movimiento.fecha}}</b>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <b>Telefono: {{movimiento.valor}}</b>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <b>Telefono: {{movimiento.saldo}}</b>
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
    </mat-card-content>
    <mat-card-actions>
        <button mat-flat-button (click)= "cancel()">Cancelar</button>
        <button mat-raised-button color='warn' (click)= "confirmar()">Confirmar</button>
    </mat-card-actions>
</mat-card>
