<mat-card >
    <mat-card-header>
        <mat-card-title>Esta seguro de Eliminar?</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <mat-list-item>
                <b>Cedula: {{curso.nombreCurso}}</b>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <b>Nombres: {{curso.horaInicio}}</b>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <b>Apellidos: {{curso.horaFinal}}</b>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <b>Edad: {{curso.numeroCreditos}}</b>
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
    </mat-card-content>
    <mat-card-actions>
        <button mat-flat-button (click)= "cancel()">Cancelar</button>
        <button mat-raised-button color='warn' (click)= "confirmar()">Confirmar</button>
    </mat-card-actions>
</mat-card>