<p>Listado Asignaciones</p>
<mat-form-field [hidden]="!dataSource" style="padding-top: 10px;">
  <input matInput (keyup)="aplicarFiltro($event)" placeholder="Filtro" autocomplete="off">
</mat-form-field>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">    
   
    <ng-container matColumnDef="fechaRegistro">
        <th mat-header-cell *matHeaderCellDef> Fecha registro </th>
        <td mat-cell *matCellDef="let element"> {{element.fechaRegistro}} </td>
      </ng-container>
 
  
      <ng-container matColumnDef="estudianteId">
        <th mat-header-cell *matHeaderCellDef> Estudiante </th>
        <td mat-cell *matCellDef="let element"> {{element.estudianteId}} </td>
      </ng-container>

    <ng-container matColumnDef="cursoId">
        <th mat-header-cell *matHeaderCellDef> Curso </th>
        <td mat-cell *matCellDef="let element"> {{element.cursoId}} </td>
      </ng-container>

      <ng-container matColumnDef="Acciones">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let element">
          <button (click)="actualizarAsignacion(element)" mat-raised-button color ='primary'>
            <b>Editar</b>
          </button>
          <button [routerLink]="['delete-asignacion', element.asignacionId]" mat-raised-button color='warn'>
            <b>Eliminar</b>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
