<p>Listado Cursos</p>
<mat-form-field [hidden]="!dataSource" style="padding-top: 10px;">
  <input matInput (keyup)="aplicarFiltro($event)" placeholder="Filtro" autocomplete="off">
</mat-form-field>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">    
   
    <ng-container matColumnDef="nombreCurso">
        <th mat-header-cell *matHeaderCellDef> Nombre Curso</th>
        <td mat-cell *matCellDef="let element"> {{element.nombreCurso}} </td>
      </ng-container>


    <ng-container matColumnDef="horaInicio">
        <th mat-header-cell *matHeaderCellDef> hora Inicio </th>
        <td mat-cell *matCellDef="let element"> {{element.horaInicio}} </td>
      </ng-container>

      <ng-container matColumnDef="horaFinal">
        <th mat-header-cell *matHeaderCellDef> Hora Final </th>
        <td mat-cell *matCellDef="let element"> {{element.horaFinal}} </td>
      </ng-container>

      <ng-container matColumnDef="numeroCreditos">
        <th mat-header-cell *matHeaderCellDef> Numero creditos </th>
        <td mat-cell *matCellDef="let element"> {{element.numeroCreditos}} </td>
      </ng-container>

      <ng-container matColumnDef="Acciones">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let element">
          <button (click)="actualizarCurso(element)" mat-raised-button color ='primary'>
            <b>Editar</b>
          </button>
          <button [routerLink]="['delete-curso', element.cursoId]" mat-raised-button color='warn'>
            <b>Eliminar</b>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
